
body{
    max-width: 100%;
    margin: 0;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 4;
    display: none;
  }
  
  #overlay.show {
    display: initial;
  }

  
.navbar__links {
    position: fixed;
    top: 0;
    left: 0;
    margin-top:0;
    width: 300px;
    height: 100%;
    background-color: #c0c0c0;
    z-index: 5;
    transition: all 0.3s ease-in;
    transform: translateX(-100%);
    opacity: 0;
  }

  .navbar__links.navbar__open {
    transform: translateX(0);
    opacity: 1;
    transition: all 0.3s ease-in;
  }


.navbar__link {
    list-style: none;
    margin: 55px;
  }
  
  .navbar__link a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    transition: all 0.3s ease-in;
  }
  
  .navbar__link a:hover {
    color: #54b192;
    transition: all 0.3s ease-in;
  }


.navbar_left{
    width: 100%;
    height: 80px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    top:0;
    z-index: 9;
}
.somename, .icon-menu{
    flex: 1;

}
.icon-menu{
    width:50px;
}

.icon-menu i{
    padding-top: 25px;
    padding-right: 10px;
    float: right;
}

/* .bodymain {
    width: 100%;
    max-width: 100%;
} */

.imgheader {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.imgheader img{
    width: 100%;
    max-width: 100%;
    opacity: 0.7;
    cursor: pointer;
}
.imgheader img:hover{
    opacity: 1;
}

.redirect{
    height: 100px;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content:center;
}

.number{
    display: flex;
    align-items: center;

}
.number .numberB{
    color:white;
    background-color: black;
}
.number a{
    text-decoration: none;
    color: black;
    padding:3px;
}
.number a:hover{
    background-color:black;
    color:white;
}

.about{
    background-color:#616161;
    padding-left: 10px;
    padding-right: 10px;
}
.about img{
    width: 100%;
    max-width: 100%;
}

.infor h2{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size:20px;
    color:white;
}
.infor p{
    color:white;
    text-align: justify;
}

.skills h4{
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    font-size: 20px;
}
.skills p{
    color:white;
}

.percent{
    width: 100%;
    background-color: #ddd;
  }
  
.percentdisplay1 {
    width: 95%;
    height: 30px;
    background-color: #9e9e9e;
    text-align: center;
    line-height: 30px;
    color: white;
  }
  .percentdisplay2 {
    width: 85%;
    height: 30px;
    background-color:#9e9e9e;
    text-align: center;
    line-height: 30px;
    color: white;
  }
  .percentdisplay3 {
    width: 80%;
    height: 30px;
    background-color: #9e9e9e;
    text-align: center;
    line-height: 30px;
    color: white;
  }
  .skills button {
    margin-top:20px;
    height: 35px;
  }
  hr{
    opacity: 0.60;
    border: 0;
    border-top: 1px solid #eee;
    margin:30px 0;
    box-sizing: content-box;
    color: #f1f1f1;
  }

  .levelmain{
    padding-left: 10px;
    padding-right: 10px;

  }
  .levelmain h3{
    color: white;
  }

  .level ul, .level li{
    list-style-type: none;
    width: 100%;
    max-width: 100%;
  }
  
  .level ul{
    height: 530px;
    padding-inline-start: 0px;
    text-align: center;
    padding-bottom: 0;
    opacity: 0.6;
  }

  .level .Htable{
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: black;
      color: white;
      font-size: 20px;
  }
  .level li{
      padding-top: 20px;    
      padding-bottom: 20px;
      background-color:#c0c0c0;
  }
  .level .levelbtn{
      height: 30px;
      background-color: white;
  }
  .levelbtn button{
      background-color:#c0c0c0;
      height: 30px;
      width: 100px;
      border: 0;

  }
.level ul:hover{
    opacity: 1;
}

.contact{
    background-color: #f1f1f1;
    padding-left: 20px;
    padding-right: 20px;
    font-size:18px;
    }
.contact h2{
    text-align: center;

}

.contact label,
.contact input{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 0;
    margin-bottom: 20px;
}
.contact button{
    width: 100%;
    height: 40px;
    max-width: 100%;
    background-color: black;
    color: white;
    border: 0;
    margin-bottom: 30px;
}
.contact button:hover{
    background-color:#ccc;
    color: black;
}

.footer {
    background-color:#9e9e9e;
    padding: 20px 20px 0 20px;
}
.footerblog ul {
    line-height: 30px;
    margin-left: 30px;
    margin-right: 30px;

}

.footerblog li{
    list-style: none;
}
.footerblog img{
    width: 50px;
    float: left;
}
.footerblog span{
    top: 10px;
    padding-left: 10px;
    /* padding-bottom: 10px; */
} 

.footerblog ul:hover{
    background-color: black;
    color: white;   
}

.footerpopular h2{
    padding-top: 30px;
}
.footerpopular p{
    padding-top: 20px;
    padding-bottom: 20px;

}
.footerpopular span{
    background-color:#616161;
    color: white;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
}

/* .overlayimg {
    background-color: rgba(0, 0, 0, 0.4);
    right:0;
    left:0;
    top:0;
    bottom:0;
    display:none;
    position:fixed;
    z-index: 9;
}

.imgBlock {
    width:800px;
    height:600px;
    display:none;
    z-index: 19;

} */

.lightbox{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 99;
    background-color:rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox-content{
    max-width: 1000px;
    margin: 0 auto;
} 
.lightbox-content img{
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

@media(min-width:600px) and (max-width:1000px){
.imgheader{
    display: flex;
    justify-content: center;
}
.groupimg1, .groupimg2, .groupimg3{
    flex: 1;
}
}


@media(min-width:1000px){
.imgheader{
    display: flex;
    justify-content: center;
}
.groupimg1, .groupimg2, .groupimg3{
    flex: 1;
} 


.navbar__links{
    transform: translateX(0);
    opacity: 1;
    position: fixed;
    left: 0;
    top: 0;
    padding-left: 0;
    /* display: inline; */
    height: 100%;
  }
.navbar__links .close{
display: none;
}
.navbar_left{
    display: none;
}

.bodymain{
    margin-left: 300px;
    /* margin-right: 0; */
    position: relative;
    /* width: 960px; */
    max-width: 100%;
    right:0;
    left: 0;



}


.groupimg1, .groupimg2,.groupimg3{
    
    width: 33.333%;
    display: flex;
    flex-direction: column;
}

.groupimg1 img{
    /* height: 391px;
    width: 326px;
    padding: 0; */
    width: 100%;
    
}
.groupimg2 img{
    /* height: 391px;
    width: 326px;
    padding: 0; */
    width: 100%;

}
.groupimg3 img{
    /* height: 391px;
    width: 326px; */
    width: 100%;

}

.about{
    padding-left: 170px;
    padding-right: 160px;
}
.about img{
    width: 600px;
    height: 400px;
}

.level{
    display: flex;
    justify-content:space-between;
}
.levelL, .levelR{
    flex: 1;
    margin-left: 15px;
}

.contact{
    padding-left: 190px;
    padding-right: 180px;

}

.footer{
    display: flex;
    justify-content:space-between;

}
.footerinfo, 
.footerblog,
.footerpopular{
    flex: 1;
    padding-left: 15px;
}
.footerpopular h2{
    padding-top:0;

}


}


















