
body{
    max-width: 100%;
    margin: 0;
}
.navbar_left{
    width: 100%;
    height: 80px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    top:0;
}
.somename, .icon-menu{
    flex: 1;

}

.icon-menu i{
    padding-top: 25px;
    padding-right: 10px;
    float: right;
}

.bodymain {
    width: 100%;
    max-width: 100%;
}

.imgheader {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.imgheader img{
    width: 100%;
    max-width: 100%;
}

.redirect{
    height: 100px;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content:center;
}

.number{
    display: flex;
    align-items: center;

}
.number .numberB{
    color:white;
    background-color: black;
}
.number a{
    text-decoration: none;
    color: black;
    padding:3px;
}
.number a:hover{
    background-color:black;
    color:white;
}

.about{
    background-color:#616161;
    padding-left: 10px;
    padding-right: 10px;
}
.about img{
    max-width: 100%;
}

.infor h2{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size:20px;
    color:white;
}
.infor p{
    color:white;
    text-align: justify;
}

.skills h4{
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    font-size: 20px;
}
.skills p{
    color:white;
}

.percent{
    width: 100%;
    background-color: #ddd;
  }
  
.percentdisplay1 {
    width: 95%;
    height: 30px;
    background-color: #9e9e9e;
    text-align: center;
    line-height: 30px;
    color: white;
  }
  .percentdisplay2 {
    width: 85%;
    height: 30px;
    background-color:#9e9e9e;
    text-align: center;
    line-height: 30px;
    color: white;
  }
  .percentdisplay3 {
    width: 80%;
    height: 30px;
    background-color: #9e9e9e;
    text-align: center;
    line-height: 30px;
    color: white;
  }
  .skills button {
    margin-top:20px;
    height: 35px;
  }
  hr{
    opacity: 0.60;
    border: 0;
    border-top: 1px solid #eee;
    margin:30px 0;
    box-sizing: content-box;
    color: #f1f1f1;
  }

  .levelmain{
    padding-left: 10px;
    padding-right: 10px;

  }
  .levelmain h3{
    color: white;
  }

  .level ul, .level li{
    list-style-type: none;
    width: 100%;
    max-width: 100%;
  }
  
  .level ul{
    height: 530px;
    padding-inline-start: 0px;
    text-align: center;
    padding-bottom: 0;
    opacity: 0.6;
  }

  .level .Htable{
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: black;
      color: white;
      font-size: 20px;
  }
  .level li{
      padding-top: 20px;    
      padding-bottom: 20px;
      background-color:#c0c0c0;
  }
  .level .levelbtn{
      height: 30px;
      background-color: white;
  }
  .levelbtn button{
      background-color:#c0c0c0;
      height: 30px;
      width: 100px;
      border: 0;

  }
.level ul:hover{
    opacity: 1;
}

.contact{
    background-color: #f1f1f1;
    padding-left: 20px;
    padding-right: 20px;
    font-size:18px;
    }
.contact h2{
    text-align: center;

}

.contact label,
.contact input{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 0;
    margin-bottom: 20px;
}
.contact button{
    width: 100%;
    height: 40px;
    max-width: 100%;
    background-color: black;
    color: white;
    border: 0;
    margin-bottom: 30px;
}
.contact button:hover{
    background-color:#ccc;
    color: black;
}

.footer {
    background-color:#9e9e9e;
    padding: 20px 20px 0 20px;
}
.footerblog li{
    list-style: none;
}
.footerblog img{
    width: 50px;
    float: left;
}
.footerblog span{
    top: 10px;
    padding-left: 10px;
    /* padding-bottom: 10px; */
} 

.footerpopular h2{
    padding-top: 30px;
}
.footerpopular p{
    padding-top: 20px;
    padding-bottom: 20px;

}
.footerpopular span{
    background-color:#616161;
    color: white;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
}

















